node_modules/
.gradle/
build/
dist/
.DS_Store
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
*.java.bak
debug.keystore

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
.project
.classpath
.c9/
*.swp
*.swo
*~

*/Pods/*

# ios app and xcode
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj
ios/*.xcconfig
ios/*.xcuserstate
ios/*.xcsettings
ios/*.xcuserdatad/
ios/*.xcuserdatad/*
ios/*.xcscheme
ios/*.xcscheme/*
ios/*.xcodeproj/*
ios/*.xcworkspace/*
ios/*.xcconfig/*
ios/*.xcuserstate/*
ios/*.xcsettings/*
ios/*.xcuserdatad/*
vendor/*
ios/*.log
android/app/.cxx
*.log
android/*.log